/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*  FINE RESET */
/* UTILITY */

.product{
    display:inline-block;
    position: relative;
    z-index: 1;
}
.price-red{
    color: red;
}
.price-prev{
    text-decoration: line-through;
}
img{
    height: 450px;
    cursor: pointer;
}
/**/
.heart{
    background-color: white;
    padding: 10px; 
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 20px;
}

.img-2{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 450px;
    display: block;
    display: none;
}

.sale-50{
    background-color:red;
    color: white;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.bg-green{
    background-color: green;
    color: white;
    position: absolute;
    left: 50px;
    bottom: 20px;
}
.bg-green2{
    position: absolute;
    bottom: 20px;
    left: 10px;
    background-color: green;
    color: white;
}
.product:hover .img-2{
    display: block;
}